<div class="d-flex align-items-center justify-content-center vh-100 fondo">
    <div class="container-fluid">
        <div class="card p-4 shadow card-container">
            <h2 class="text-center">Respuestas</h2>
            <table class="table table-bordered table-striped mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Pregunta</th>
                        <th>Respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let respuesta of respuestas">
                        <td>{{ respuesta.nombre }}</td>
                        <td>{{ respuesta.pregunta }}</td>
                        <td>{{ respuesta.respuesta }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a routerLink="/opciones" class="btn btn-link">Volver</a>
    </div>
</div>