<div class="d-flex align-items-center vh-100">
    <div class="container-fluid flex-column">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <ng-container *ngIf="messages.length > 0">
                    <div class="alert alert-info alert-dismissible fade show" role="alert" *ngFor="let message of messages">
                        {{ message }}
                    </div>
                </ng-container>

                <div class="row">
                    <div class="col-12 d-flex">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary ms-auto mt-4">Crear formulario</a>
                        <!--<routerLink="/crear-formulario" -->

                    </div>
                </div>

                <br>

                <div class="table-responsive">
                    <table class="table table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre Formulario</th>
                                <th>Usuario Creador</th>
                                <th>Fecha</th>
                                <th>Estatus</th>
                                <th>Editar</th>
                                <th>Contestar</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let formulario of formularios; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ formulario.strNombreFormulario }}</td>
                                <td>{{ formulario.strUsuario }}</td>
                                <td>{{ formulario.strFechaCreacion | date:'MM/dd/yyyy' }}</td>
                                <td>
                                    <button class="btn btn-sm btn-success" *ngIf="formulario.strEstatus == 'baja'" (click)="fnChangeEstatus('baja', formulario.intIDFormulario)">Alta</button>
                                    <button class="btn btn-sm btn-danger" *ngIf="formulario.strEstatus == 'alta'" (click)="fnChangeEstatus('alta', formulario.intIDFormulario)">Baja</button>
                                </td>
                                <td>
                                    <a *ngIf="formulario.strEstatus !== 'alta'" routerLink="/crear-formulario" class="bi bi-pencil btn-sm"></a>
                                </td>
                                <td>
                                    <a *ngIf="formulario.strEstatus !== 'alta'" routerLink="/responder" class="bi bi-pencil-square btn-sm"></a>
                                </td>
                                <td>
                                    <a *ngIf="formulario.strEstatus !== 'alta'" (click)="compartirFormulario(formulario.intIDFormulario)" class="btn btn-outline-info btn-sm">
                                        <i class="bi bi-share">Compartir</i>
                                    </a>
                                </td>
                                <td>
                                    <button type="button" (click)="fnDeleteForm(formulario.intIDFormulario)" class="btn btn-danger btn-sm">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <div class="d-grid gap-2">
                    <a routerLink="/visualizar-respuesta" class="btn btn-primary mx-auto">Visualizar respuestas</a>
                </div>
                <div class="text-center mt-4">
                    <button type="button" (click)="logout()" class="btn-danger btn btn-sm">Cerrar sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos formulario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 d-block">
                        <span class="p-2">Nombre del formulario</span> <br>
                        <input type="text" placeholder="Ingresa el nombre del formulario" class="form-control mt-1" [(ngModel)]="strNombreFormulario">
                    </div>
                </div>
                <br>
                <div class="row"></div>
                <div class="col-12 d-block">
                    <span class="p-2">Estatus</span> <br>
                    <select class="form-control mt-1" [(ngModel)]="strEstatus">
                        <option value="" disabled selected>Selecciona un estatus</option>
                        <option value="baja">Alta</option>
                        <option value="alta">Baja</option>
                    </select>
                </div>
                <br>
                <div class="row"></div>
                <div class="col-12 d-block">
                    <span class="p-2">URL</span> <br>
                    <input type="url" placeholder="URL" class="form-control mt-1" [(ngModel)]="strUrl">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" (click)="fnInsertFormulario()" data-bs-dismiss="modal" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>